body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('resimler/hakkımda.jpg');
    background-size: cover;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.about-me-box {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.about-me-box img {
    width: 200px;
    height: auto;
    border-radius: 50%;
    margin-right: 20px;
}

.about-me-content {
    flex-grow: 1;
}

