body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('resimler/iletişim.jpg'); /* Arka plan resmi */
    background-size: 50%; /* Resmi yüzde 50 boyutuna küçült */
    background-position: center; /* Resmi merkezde tut */
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: rgba(51, 51, 51, 0.8); /* Arkaplan rengi (saydam gri) */
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    padding: 50px 0;
}

section {
    margin-bottom: 40px;
    background-color: rgba(255, 255, 255, 0.8); /* Arkaplan rengi (saydam beyaz) */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    margin-bottom: 20px;
    color: #333;
}

.contact-info {
    display: flex;
    justify-content: space-around;
}

.contact-item {
    text-align: center;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
}

.contact-form form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.contact-form form input[type="text"],
.contact-form form input[type="email"],
.contact-form form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.contact-form form textarea {
    resize: vertical;
}

.contact-form form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

